@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------Contact Details--------*/
body{
    min-height: 100vh;
    width: 50%;
    background:yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
  }
  .container{
    width: 40%;
    background: #fff;
    border-radius: 3px;
    background:red;
    padding: 40px 20px 30px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items:left;
    justify-content:left;
  }
  .container .content .left-side{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    color: black;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 130%;
    width: 2px;
    right: 5px;
    top: 60%;
    transform: translateY(-50%);
    background: black;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .input-box{
    padding:2px;
    margin: 2px;

  }