@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------Contact Details--------*/

/*---------Header------------*/
/*---------Header------------*/
.header {
  background: red;
  
}
.navbar {
  padding-top: 5px !important;
  padding-left: 5px;
}
.nav-item {
  margin-left: 30px;
  margin-bottom: 5px;
  
}
.nav-link {
  color:white!important;
  font-size: 15px !important;
  padding: 0 0 5px 0 !important;
  display: unset !important;
  font-weight: 300%!important;
  font-family: serif;
}
.navbar-brand img {
  width: 100px;
  margin: 2px;
  
}
.fa-bars {
  color: #fff;
  font-size: 40px!important;
}
.navbar-toggler {
  border: 0 !important;
  outline: none !important;
  padding: initial !important;
}
.active-home {
  border-bottom: 2px solid #fff;
}
.nav-link:hover {
  border-bottom: 2px solid #fff;
}
  
  
/*-----------------features---------*/

.features{

  margin:20px;

}

.features h5{

  margin-top: 100px;
  line-height: 1px !important;
}

body{
    min-height: 100vh;
    width: 100%;
    background:yellowgreen;
    align-items: center;
    
    
  }
  .container{
    width: 40%;
    background: #fff;
    border-radius: 14px;
    background:white;
    margin:20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 200%;;
    
    
  }
  .container .content{
    display: flex;
    align-items:left;
    margin: 50px;
    
  }
  .container .content .left-side{
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    color: black;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 140%;
    width: 2px;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    background: black;
  }
  .content .left-side .details{
    margin: 10px;
    text-align:center;
  }
  .input-box{
    padding:2px;
    margin: 2px;

  }
  .right-side{

    margin: 5px;
    padding: 5px;

  }
  /*------footer-------*/
  
  .footer{
  
    padding-top: 0px;
    background-color:red;
    color: white !important;
  }
  
  .footer small{
  
    font-size: 14px;
    padding:2px;
    padding-bottom: 1px;
    
   
  }
  .link{
    font-size: 14px;
    padding:2px;
    color:#fff;
    text-align: right;

  }
  .links{
    font-size: 14px;
    padding:0;
    margin:5px;
    padding-bottom: 1px;
    color:#fff;
    display:block;
    text-align: left;

  }
   #year{
     color:white;

   }