* {
    margin: 0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

/*---------Header------------*/
  .header {
    background: red;
    
  }
 
  .nav-item {
    margin-left: 40px;
    margin-bottom: 5px;
    
  }
  .nav-link {
    color:white!important;
    font-size: 15px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
    font-weight: 300%!important;
    font-family: serif;
  }
  .navbar-brand img {
    width: 10%;
    
  }
  .fa-bars {
    color: #fff;
    font-size: 40px!important;
  }
  .navbar-toggler {
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
  }
  .active-home {
    border-bottom: 2px solid #fff;
  }
  .nav-link:hover {
    border-bottom: 2px solid #fff;
  }
  /*------------service--------------------*/
.service{
    margin: 10px 10px;
    padding:0px !important;
    
  }
  .title{
    text-align:center;
    font-weight:bold;
    margin-bottom: 70px;
  
  }
  .top-left {
    margin: 80px 20px;
    position:absolute;
    top: 2px;
    left: 1px;
  }
  
/*-----------------features---------*/

.features , .explorers{

  margin:200px 0;

}
.features img{
  max-width: 77%;
  cursor:pointer;
}
.features h2{

  margin-top: 20px;
  font-weight:bold;
  line-height: 50px;
  font-size: 22px;
}
h5 {
  font-size: medium;
}
.features p,.explorers p{
  margin-top: 5px;
  margin-bottom: 30px;
  color:#808080;
  font-size: 14px;
  line-height: 18px;
}
.features a ,.explorers a{

  width:170px;
  padding: 15px 10px;
  display:block;
  background: #6900d1;
  text-decoration: none!important;
  color:#fff !important;
  border-radius: 20px;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
}
.explores h2{

  margin-top: 50px;
  font-weight:bold;
  line-height: 50px;
}
.explores a{

  margin-bottom:50px ;
}

/*-------------feature ------------*/


.feature , .explorer{
    background: #6900d1;
    
  
  }
  .feature img{
  
    max-width: 100%;
    cursor:pointer;
  }
  .feature h2{
    color:white;
    margin-top: 1px;
    line-height: 30px;
  }
  .feature p,.explorer p{
   
    margin-top: 10px;
    margin-bottom: 10px;
    color:tomato;
    font-size: 14px;
    line-height: 18px;
  }
  .feature a ,.explorer a{
  
    width:170px;
    padding: 10px 10px;
    display:block;
    
    text-decoration: none!important;
    color:#fff !important;
    border-radius: 5px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
  }
  .explore h2{
  
    margin-top: 50px;
    font-weight:bold;
    line-height: 50px;
  }
  .explore a{
  
    margin-bottom:50px ;
  }

  /*-------footer-------*/
  .footer{
  
    padding-top: 1px;
    background-color:red;
    color: white !important;
  }
  
  .footer small{
  
    font-size: 14px;
    padding:2px;
    padding-bottom: 1px;
    
   
  }
  .link{
    font-size: 14px;
    padding:2px;
    color:#fff;
    text-align: right;

  }
  .links{
    font-size: 14px;
    padding:0;
    margin:5px;
    padding-bottom: 1px;
    color:#fff;
    display:block;
    text-align: left;

  }
   #year{
     color:white;

   }