* {
  margin: 0;
  padding:0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*---------Header------------*/
.header {
  background: red;
  
}
.navbar {
  padding-top: 5px !important;
  padding-left: 5px;
}
.nav-item {
  margin-left: 30px;
  margin-bottom: 5px;
  
}
.nav-link {
  color:white!important;
  font-size: 15px !important;
  padding: 0 0 5px 0 !important;
  display: unset !important;
  font-weight: 300%!important;
  font-family: serif;
}
.navbar-brand img {
  width: 100px;
    margin: 2px
  
}
.fa-bars {
  color: #fff;
  font-size: 40px!important;
}
.navbar-toggler {
  border: 0 !important;
  outline: none !important;
  padding: initial !important;
}
.active-home {
  border-bottom: 2px solid #fff;
}
.nav-link:hover {
  border-bottom: 2px solid #fff;
}
  
/*-----------------features---------*/

.features{

  margin:70px;

}

.features h5{

  margin-top: 100px;
  line-height: 1px !important;
}

/*-------------feature ------------*/

.vl {
    border-left: 3px solid black;
    height: 400px;
    position: absolute;
    left: 35%;
    margin-left: 1px;
    top: -10;
  }
  /*------footer-------*/
  .footer{
  
    padding-top: 1px;
    background-color:red;
    color: white !important;
  }
  
  .footer small{
  
    font-size: 14px;
    padding:2px;
    padding-bottom: 1px;
    
   
  }
  .link{
    font-size: 14px;
    padding:2px;
    color:#fff;
    text-align: right;

  }
  .links{
    font-size: 14px;
    padding:0;
    margin:5px;
    padding-bottom: 1px;
    color:#fff;
    display:block;
    text-align: left;

  }
   #year{
     color:white;

   }